* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    background-color: #05052e;
}

nav ul {
    background-color: #ffffff;
    color: #000000;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin-right: 20px;
    transform: scale(0.1) translateY(-555%); 

}

.services {
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.services h2 {
    color: #ffffff;
    font-size: 36px;
    margin-bottom: 20px;
}
.services li {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 20px;
}

.about {
    background-color: #05052e;
    padding: 50px;
    text-align: center;
    background-image: url('image/pozadi-about.webp');
    background-size: cover;
    background-position: center;
}

.about h1{
    color: #ffffff;
    font-size: 52px;
    text-align: center;
    margin-top: 50px;
}
.about p{
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-inline: auto;
    width: 80%;
}